.outer {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    text-align: center;
}

.inner {
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    margin-top: 50px;
}